node_modules/
package-lock.json
.DS_Store
.env
.*
coverage/
*.lock
appmap*
platoReport/
target/
.DS_Store
.nyc_output
.trunk/
.vscode/
odometryData.json
apiKeyDatabase.json
mapdata.json
llama-2-7b-chat.Q8_0.gguf

sounds/
voice/